<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content">
    <form>
      <img src="assets/images/mobile_messages.svg">
      <p>Enter your mobile number to receive 4 digit code to verify next.</p>
      <ion-item>
        <ion-label position="stacked">Number Phone</ion-label>
        <ion-input type="number"><ion-icon src="assets/icon/indonesia.svg"></ion-icon> (+62)  </ion-input>
      </ion-item>  
    
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-button expand="block" (click)="next()">Next</ion-button>
        </ion-toolbar>
      </ion-header>
    </form>
  </div>
</ion-content>
