ion-tab-bar  {
    width: 90% !important;
    max-width: 400px !important;
    border-radius: 30px;
    margin: 5px 0px 5px 5% !important;
    max-height: 56px;
    height: 70px;
    max-height: 70px;
}

ion-tab-button{
    background: #121212;
}