<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="report-tab" (click)="changeReportIcon()">
      <ion-icon [src]="isReportSelected ? report : reportOutline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="add-report-tab" (click)="changeAddCircleIcon()">
      <ion-icon [src]="isAddCircleSelected ? addCircle : addCircleOutline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account-tab" (click)="changeAccountIcon()">
      <ion-icon [src]="isAccountSelected ? person : personOutline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
