<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-text color="light">
        <img src="assets/images/social_distancing.svg"/>
        <h1>Report Covid 19</h1>
        <p>
          This application can help you to report people who have affected coronavirus around your location.
        </p>
        <ion-button (click)="next()" fill="outline">NEXT</ion-button>
      </ion-text>
    </ion-slide>

    <ion-slide>
      <ion-text color="light">
        <img src="assets/images/add_post.svg"/>      
        <h2>Ready to Report?</h2>
        <ion-button (click)="signup()" fill="outline">SIGN UP</ion-button>
        <ion-button (click)="signin()" fill="outline">SIGN IN</ion-button>
      </ion-text>      
    </ion-slide>

  </ion-slides>  
</ion-content>
