<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Verify Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id="content">  
    <img src="assets/images/security.svg">
    <p>Enter your OTP code. Code is sent to to your phone number</p>
    <ion-row class="ion-align-items-center">
      <ion-col>
       <ion-input class="otp" #otp1 required="true" maxLength="1" [(ngModel)]="OTP.first" (keyup)="otpController($event, otp2, '')"></ion-input>
       <ion-input class="otp" #otp2 required="true" maxLength="1" [(ngModel)]="OTP.second" (keyup)="otpController($event, otp3, otp1)"></ion-input>
       <ion-input class="otp" #otp3 required="true" maxLength="1" [(ngModel)]="OTP.third" (keyup)="otpController($event, otp4, otp2)"> </ion-input>
       <ion-input class="otp" #otp4 required="true" maxLength="1" [(ngModel)]="OTP.forth" (keyup)="otpController($event, otp5, otp3)"> </ion-input>
       <ion-input class="otp" #otp5 required="true" maxLength="1" [(ngModel)]="OTP.fifth" (keyup)="otpController($event, otp6, otp4)"> </ion-input>
       <ion-input class="otp" #otp6 required="true" maxLength="1" [(ngModel)]="OTP.sixth" (keyup)="otpController($event, '', otp5)"></ion-input>  
      </ion-col>
    </ion-row>
  
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-button expand="block" (click)="signin()">SIGN IN</ion-button>
      </ion-toolbar>
    </ion-header>  
  </div>
</ion-content>
